/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#treeContainer, .accordion{
	margin:50px 0;
}



/* ==========================================================================
   Examples
   ========================================================================== */
.thumbnails .well{
	height: 115px;
}

.thumbnails .treeContainer{
	display:inline-block;

}








