---
layout: default
---

<div class="row api">
	<div class="sidebar-nav span3">
		<div class="well">
			<ul class="nav nav-list">
				<li class="nav-header">Documentation</li>
				<li>
					<a href="{{site.baseurl}}/documentation/getting-started">
						<i class="icon-cog"></i>
						Getting started
					</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/documentation/events">
						<i class="icon-cog"></i>
						Events
					</a>
				</li>

				<li>
					<a href="{{site.baseurl}}/documentation/styling-icons">
						<i class="icon-cog"></i>
						Styling and icons
					</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/documentation/write-your-plugin">
						<i class="icon-cog"></i>
						Write your own plugin
					</a>
				</li>
				<li>
					<a href="{{site.baseurl}}/documentation/framework-architecture">
						<i class="icon-cog"></i>
						Framework architecture
					</a>
				</li>

			</ul>
		</div>
	</div>


	<div class="span9 offset3">

		<h1>{{page.title}}</h1>

		{{content}}

	</div>
</div>